body{
    background-color: rgba(83, 212, 195, 0.671);
    color: rgb(179, 11, 11);
    margin: 0px;
}

header{
    border-bottom: inset 3px rgb(221, 137, 41);
    padding: 15px;
    font-size: 30px;
    color: rgb(228, 58, 157)
}

h1{
    padding: 10px;
    font-size: 20px;/ 
    color: rgb(178, 135, 228)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(122, 89, 175)
}
chamada{
    background-color: rgb(233, 233, 190);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h2{
    padding: 15px;
    font-size: 30px;
    color: rgb(12, 211, 151)
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img{
    opacity:0.5;
}

.categoria-videos img:hover{
    opacity:1.0;
    border: 2px solid rgb(247, 137, 48);
}
