body{
    background-color: rgba(83, 212, 195, 0.671);
    color: rgb(179, 11, 11);
    margin: 0px;
}

header{
    border-bottom: inset 3px rgb(221, 137, 41);
    padding: 15px;
    font-size: 30px;
    color: rgb(228, 58, 157)
}

h1{
    padding: 10px;
    font-size: 20px;
    color: rgb(178, 135, 228)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(118, 55, 218)
}
